# Auth base url is dependent upon region
# e.g.,
# NA - https://auth.pingone.com
# CA - https:/auth.pingone.ca
# EU - https:/auth.pingone.eu
# APAC - https:/auth.pingone.asia
PINGONE_AUTH_BASE_URL=https://auth.pingone.com

# PingOne Environment ID
#z2345678-0000-456c-a657-3a21fc9ece7e
PINGONE_ENV_ID=

# PingOne App Connection Configuration Info
#x7654321-0000-4fc4-b8ed-1441b767e78f
PINGONE_CLIENT_ID=
#########-####-####-####-############
PINGONE_CLIENT_SECRET=

# The base path where this app is running
# Express defaults to localhost, update here otherwise
# The Hello world example uses port 3000 (it's configured in app.js)
APP_BASE_URL=http://localhost
